// Colors

$color-primary: #FFC107;
$color-primary-dark: #FFA000;
$color-primary-light: #FFECB3;
$color-text-dark: #212121;
$color-text-grey: #969696;
$color-text-light: #ecf0f1;
$color-divider: #BDBDBD;

// Breakpoints

$bp-sm: 420px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xlg: 1280px;