#nav-logo {
    width: 150px;
}

a.nav-link-active {
    border-color: $color-primary;
}

a.nav-responsive-link-active {
    border-color: $color-primary;
    background-color: lighten($color-primary-light, 10%);
    color: $color-primary-dark;
}